<% include common/header.ejs %>

<main class="content">
    <div class="block1">
        <div class="popular-label"><a class="popular-label-text">The most recommended tests</a></div>
        <div class="popular-tests">
            <article class="test-big" onclick="window.location.href='/test-page.html'">
                <img src= "assets/images/Test.png" class="test-image-big">
                <span class="test-name-big">Название теста</span>
            </article>
            <article class="test-big">
                <img src= "assets/images/Test.png" class="test-image-big">
                <span class="test-name-big">Название теста</span>
            </article>
            <article class="test-big">
                <img src= "assets/images/Test.png" class="test-image-big">
                <span class="test-name-big">Название теста</span>
            </article>
            <article class="test-big">
                <img src= "assets/images/Test.png" class="test-image-big">
                <span class="test-name-big">Название теста</span>
            </article>
            <article class="test-big">
                <img src= "assets/images/Test.png" class="test-image-big">
                <span class="test-name-big">Название теста</span>
            </article>
            <article class="test-big">
                <img src= "assets/images/Test.png" class="test-image-big">
                <span class="test-name-big">Название теста</span>
            </article>
            <article class="test-big">
                <img src= "assets/images/Test.png" class="test-image-big">
                <span class="test-name-big">Название теста</span>
            </article>
        </div>
    </div>
    <div class="block2">
        <div class="popular-label"><a class="popular-label-text">Different types of tests</a></div>
    </div>
    <div class="block3">
        <div class="popular-label"><a class="popular-label-text">All tests</a></div>
        <div class="all-tests">
            <article class="test-small">
                <img src= "assets/images/Test.png" class="test-image-small">
                <div class="test-text">
                    <p class="test-name-small">Название теста</p>
                    <p class="test-name-small">Описание теста:жтекстжтекстжтексттексттексттекстте</p>
                </div>
            </article>
            <article class="test-small">
                <img src= "assets/images/Test.png" class="test-image-small">
                <div class="test-text">
                    <p class="test-name-small">Название теста</p>
                    <p class="test-name-small">Описание теста:жтекстжтекстжтексттексттексттекстте</p>
                </div>
            </article>
            <article class="test-small">
                <img src= "assets/images/Test.png" class="test-image-small">
                <div class="test-text">
                    <p class="test-name-small">Название теста</p>
                    <p class="test-name-small">Описание теста:жтекстжтекстжтексттексттексттекстте</p>
                </div>
            </article>
        </div>
    </div>
</main>

<% include common/footer.ejs%>

