<% include common/header.ejs %>

<main class="content">
        <div class="test-block">
            <div class="test-name"><a class="test-name-text">Тут должно быть имя теста который сейчас походишь</a></div>
            <div class="test-field">
                <img src= "assets/images/Test.png" class="test-image-temp">
            </div>
        </div>
</main>


