<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="style.css" rel="stylesheet"> </head>

<body class="Site">
<header class="header">
    <div class="logo"> <a class="logo-text">Testpedia</a> </div>
    <div class="search-line">
        <div class="search">
            <input class="input" type="text" name="nameInput" placeholder="Search tests...">
            <button class="button button-search" data-tooltip="Додати товар до списку">Search</button>
        </div>
    </div>
    <div class="login">
        <button class="button button-login">Login</button>
        <button class="button button-signup">Sign Up</button>
    </div>
</header>