

<article href = "/testPage" class="test-small" >
    <img src= <%= test.logo%> class="test-image-small">
    <div class="test-text">
        <p class="test-name-small"><%= test.name %></p>
        <p class="test-name-small"><%= test.description %></p>
    </div>
</article>