

<article class="test-small" onclick="window.location.href='/testPage.html'">
    <img src= <%test.logo.ua%>> class="test-image-small">
    <div class="test-text">
        <p class="test-name-small"><%test.title%></p>
        <p class="test-name-small"><%test.description%>></p>
    </div>
</article>